.speech{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: black;
}
.direction{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: black;
    background-color: azure;
}
.direction:hover {
    background-color: cadetblue;
    color:white;
}
.OSWALD:hover{
    border: solid 2px rgb(175, 37, 240);
    text-shadow: 3px 3px 3px rgb(125, 67, 230);
}
.MRSALVING:hover{
    border: solid 2px rgb(175, 37, 240);
    text-shadow: 3px 3px 3px rgb(125, 67, 230);
}
.REGINA:hover{
    border: solid 2px rgb(175, 37, 240);
    text-shadow: 3px 3px 3px rgb(125, 67, 230);
}
.MANDERS:hover{
    border: solid 2px rgb(175, 37, 240);
    text-shadow: 3px 3px 3px rgb(125, 67, 230);
}
.ENGSTRAND:hover{
    border: solid 2px rgb(175, 37, 240);
    text-shadow: 3px 3px 3px rgb(125, 67, 230);
}
.OSWALD{
    font-size: 20;
    color: aquamarine;
}
.MRSALVING{
    font-size: 25;
    color:chartreuse;  
}
.REGINA{
    font-size: 30;
    color: crimson;
    
}
.MANDERS{
    font-size: 30;
    color:blue; 
}
.ENGSTRAND{
    font-size: 30;
    color:darkorchid;
    
}
table ,th,td{
    border: 1px solid;
    color: brown;
    text-align: left;
    padding:0px;
    margin: 0px;

}
td{
    background-color: aqua;
}
